@import '../../../styles/color.scss';

.x-textarea {
    width: 100%;
    height: 1rem;
    padding: .1rem;
    font-size: .14rem;
    border: 0.5px solid $theme-border;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .3s;
    color: $theme-deep-font;
    resize: none;
    overflow: hidden;
    outline: none;
    &::-webkit-input-placeholder {
        color: $theme-placeholder;
    }
    &:hover, &:focus {
        border-color: $theme-primary;
    }
    &:disabled {
        cursor: not-allowed;
        background-color: $theme-gray-disabled;
        border-color: $theme-gray-disabled;
    }
}